[submodule "Relic/externals/appbase"]
	path = Relic/externals/appbase
	url = https://github.com/fioprotocol/appbase.git
[submodule "Relic/externals/rapidjson"]
	path = Relic/externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
